<!-- Custom top menu bar -->
<nav class="md-header__inner md-grid" aria-label="{{ lang.t('header.title') }}">
  <div class="md-header__title">
    <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}" title="{{ config.site_name }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}">
      {% include "partials/logo.html" %}
    </a>
  </div>
  
  <!-- Custom top menu -->
  <div class="md-header__top-menu">
    <nav class="md-header__top-nav" aria-label="Top navigation">
      <a href="{{ nav.homepage.url | url }}" class="md-header__top-link">Home</a>
      <a href="{{ 'about' | url }}" class="md-header__top-link">About</a>
      <a href="{{ 'tutorials/common-models/salesdb-data-model' | url }}" class="md-header__top-link">Tutorials</a>
      <a href="{{ 'blog' | url }}" class="md-header__top-link">Blog</a>
      <a href="{{ 'subscribe' | url }}" class="md-header__top-link">Subscribe</a>
      <a href="{{ 'community' | url }}" class="md-header__top-link">Community</a>
    </nav>
  </div>

  <!-- Search box -->
  {% if "search" in config["plugins"] %}
    <div class="md-header__search">
      {% include "partials/search.html" %}
    </div>
  {% endif %}

  <!-- Right side menu -->
  <div class="md-header__right">
    {% if config.extra.alternate %}
      <div class="md-header__lang">
        {% include "partials/languages.html" %}
      </div>
    {% endif %}
    {% if not config.theme.palette is mapping %}
      <div class="md-header__palette">
        {% if not config.theme.palette.scheme %}
          {% set scheme = config.theme.palette.primary | replace(" ", "-") | lower %}
        {% else %}
          {% set scheme = config.theme.palette.scheme %}
        {% endif %}
        <button class="md-header__button md-icon" title="Switch to dark mode" onclick="__md_scope.setColorScheme('{{ scheme }}')">
          {% include ".icons/material/brightness-7.svg" %}
        </button>
      </div>
    {% endif %}
    {% if config.repo_url %}
      <div class="md-header__source">
        <a href="{{ config.repo_url }}" title="Go to source repository" class="md-source" data-md-component="source">
          <div class="md-source__icon md-icon">
            {% set icon = config.theme.icon.repo or "fontawesome/brands/git-alt" %}
            {% include ".icons/" ~ icon ~ ".svg" %}
          </div>
          <div class="md-source__repository">
            {{ config.repo_name }}
          </div>
        </a>
      </div>
    {% endif %}
  </div>
</nav>